apiVersion: apps/v1
kind: Deployment
metadata:
  name: iot-sensor-api
  namespace: autoscale-demo
  labels:
    app: iot-sensor-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iot-sensor-api
  template:
    metadata:
      labels:
        app: iot-sensor-api
    spec:
      containers:
        - name: iot-sensor-api
          image: iot-sensor-api:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: iot-sensor-api
  namespace: autoscale-demo
spec:
  selector:
    app: iot-sensor-api
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP
